<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.feng.chat.mapper.ChatUserMapper">

    <resultMap type="com.feng.chat.entity.ChatUser" id="ChatUserMap">
        <result property="uid" column="uid" jdbcType="INTEGER"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="nick" column="nick" jdbcType="VARCHAR"/>
    </resultMap>

    <!-- 批量插入 -->
    <insert id="insertBatch" keyProperty="uid" useGeneratedKeys="true">
        insert into senstive_words.chat_user(usernamepasswordnick)
        values
        <foreach collection="entities" item="entity" separator=",">
        (#{entity.username}, #{entity.password}, #{entity.nick})
        </foreach>
    </insert>

    <!-- 查找朋友列表 -->
    <select id="selectFriends" resultType="com.feng.chat.entity.dto.FriendDto">
        select uid, nick
        from chat_user cu
        INNER JOIN
             (
                 SELECT uid_buser AS user_id, create_time
                 FROM chat_relation
                 WHERE uid_auser = #{uid}
                 UNION
                 SELECT uid_auser AS user_id, create_time
                 FROM chat_relation
                 WHERE uid_buser = #{uid}
                 ORDER BY create_time DESC
             ) as tmp
             ON cu.uid = tmp.user_id
        where cu.uid != #{uid}
    </select>

    <update id="updateNick">
        update chat_user
        set nick = #{nick}
        where uid = #{uid}
    </update>

    <update id="updatePwd">
        update chat_user
        set password = #{password}
        where uid = #{uid}
    </update>

    <!-- 判断两个人是不是好友关系 -->
    <select id="judgeAlreadyFriend" parameterType="long" resultType="java.lang.Integer">
        select count(*)
        from (
             select *
             from chat_relation
             where uid_auser = #{uid} and uid_buser = #{uid1}
             union
             select *
             from chat_relation
             where uid_auser = #{uid1} and uid_buser = #{uid}
        ) as tmp
    </select>

    <select id="selectUid" resultType="long" parameterType="string">
        select uid
        from chat_user
        where username = #{fromUsername}
    </select>
</mapper>

