<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.feng.chat.mapper.SysmsgMapper">

    <!-- 查询未读消息 -->
    <select id="selectNeedReadMsg" resultType="com.feng.chat.entity.vo.UnReadSysMsgVo">
        SELECT sysmsg_id, nick, username, smt.create_time, msg_type, phone, to_user
        FROM
            chat_user AS cu
                LEFT JOIN
            sys_msg_tab AS smt
            ON cu.uid = smt.send_user
        WHERE
            smt.is_read = 0
          AND smt.to_user = #{toUser}
        order by smt.create_time desc
    </select>
    <select id="selectNeedReadMsgByPage" resultType="com.feng.chat.entity.vo.UnReadSysMsgVo">
        SELECT nick, username, smt.create_time, msg_type, phone, to_user
        FROM
            chat_user AS cu
                LEFT JOIN
            sys_msg_tab AS smt
            ON cu.uid = smt.send_user
        limit
        WHERE
            smt.is_read = 0
          AND smt.to_user = #{toUser}
        order by smt.create_time desc
        limit #{page-1} * #{size}, #{size}
    </select>

    <select id="judgeHasSendInvite" parameterType="long" resultType="int">
        select count(*)
        from sys_msg_tab AS smt
        where smt.send_user = #{uid}
            and smt.to_user = #{uid1}
            and smt.is_accept = 0
    </select>

</mapper>

